In [13]:
import pandas as pd
data=pd.read_csv('datasets/sales_dataset.csv')
data

     marketing_budget(thousands)  actual_sales(millions)
0                         187.86                   12.14
1                         138.13                   12.33
2                         177.89                    8.41
3                         181.13                    8.90
4                         151.50                   12.57
..                           ...                     ...
217                       181.34                   10.60
218                       147.05                    9.01
219                       192.21                   11.90
220                       191.22                    8.36
221                       108.68                    9.07

[222 rows x 2 columns]

In [16]:
df = pd.DataFrame(data)
# Calculate correlation
correlation = df['marketing_budget(thousands)'].corr(df['actual_sales(millions)'])
print("Correlation:", correlation)

Correlation: 0.8367015222921049